# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX
*.toc
*.out
*.log
*.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz
*.dvi
*.ps

# Mac
.DS_Store

# Emacs
*.*#
*.*~

# Build files
build
consolebuild
